a.pulse {
    color: #39D6FF !important;
}

.user-prompt {
    background-color: #0D141A;
    color: #FFA900;
    position:fixed;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
    top:200px;
    width:100%;
    z-index:100;
}
